---
// Component Imports
import SiteHeader from "@components/structure/SiteHeader.astro";
import BodyHeader from "@components/structure/BodyHeader.astro";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Blog';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://zesty-khapse-3cbf1f.netlify.app';

// Data Fetching: List all Markdown posts in the repo.

// let allPosts = await Astro.glob('./posts/*.md');
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

---

<html lang="en">
	<head>
		<SiteHeader 
			title={title}
			description={description}
			permalink={permalink}
		/>
	</head>

	<body class="container mx-auto px-4">
		<BodyHeader />
		<!-- TODO: place homepage content here such as intro of each post -->
	</body>
</html>
